/UmbIntranetRestrict/.vs
/UmbIntranetRestrict/packages
/UmbIntranetRestrict/UmbracoTest/bin
/UmbIntranetRestrict/UmbracoTest/obj
/UmbIntranetRestrict/UmbracoTest/App_Data/TEMP
/UmbIntranetRestrict/UmbracoTest/App_Data/cache
/UmbIntranetRestrict/UmbracoTest/App_Data/packages
/UmbIntranetRestrict/UmbracoTest/App_Data/Logs
